@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
    .h-screen {
      height: -webkit-fill-available;
    }
  }
  @font-face {
    font-family: 'Estedad';
    src: url('../fonts/Estedad-Black.ttf');
  }
  @font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSansWeb.ttf');
  }
  @font-face {
    font-family: 'LaleZar';
    src: url('../fonts/Lalezar-Regular.ttf');
  }
  @font-face {
    font-family: 'Shabnam';
    src: url('../fonts/Shabnam-Medium.ttf');
  }