@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
    .spantext{
        @apply text-xs hidden text-center bg-[#2C2C2C] text-white py-1 px-2 left-[20px] rounded-lg bottom-[50px] group-hover:block relative left-[50%] bottom-[55px] w-fit whitespace-nowrap ;
    }
    .header-icon{
        @apply w-[30px] smmobile:hidden vsmmobile:hidden h-[27px] mx-[5px];
    }
    .header-lest-icon{
        @apply w-[20px] h-[20px] mx-[20px];
    }
    .sidebar-button{
        @apply flex justify-center border rounded-lg text-[12px] h-[50px]  p-[15px] my-1 font-bold  text-[#6C6E78] hover:cursor-pointer hover:bg-[#D7D8DD];
    }
    .main-div-icon{
        @apply  w-[30px] my-[3px] h-[30px] border-white border-[2px] bg-[#EDEEF0] hover:bg-[#D7D8DD] rounded-lg;
    }
    .main-div-icon-size{
        @apply w-[25px] h-[23px];
    }
    .left-sidebar-input{
        @apply text-[#6C6E78]  gap-6 font-medium border rounded-lg text-[11px] px-5 py-2  justify-between inline-flex items-center ;
    }
    
}