@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .bg-gray{
        @apply  fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-[#D7D8DD];
    }
    .main-div{
        @apply   absolute w-[450px] h-[500px]   flex flex-col vsmmobile:w-[300px] smmobile:w-[350px];
    }
    .logo-div{
        @apply h-[90px] flex flex-col items-center m-3 mb-5;
    }
    .detail-div{
        @apply h-[350px] bg-white rounded-lg flex flex-col items-center border;
    }
    .form-div{
        @apply flex flex-col  w-[400px] h-[260px] vsmmobile:w-[280px] smmobile:w-[300px];
    }
    .input-text{
        @apply block text-gray-700  font-bold mb-2 px-1;
    }
    .input-div{
        @apply shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 text-xs leading-tight focus:outline-none  ;
    }
    .input-detail{
        @apply text-gray-700 text-[10px] m-2 mb-5;
    }
    .button{
        @apply  w-full bg-blue-500 hover:bg-blue-700 text-white font-bold text-[12px] py-[9px] px-4 rounded-lg focus:outline-none ;
    }
    
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir/Vazirmatn-FD-ExtraLight.ttf');
}