.card{
    position:relative;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: space-between;
    flex-direction: row ;
    transition: 0.1s;
    cursor: pointer;
    margin-bottom: 15px;
    margin: 15px;
    position: relative;
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
    .image-card{
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 40px;
            height: 40px;
            margin-top: 10px;
            margin-left: 5px;
            border-radius: 8px;
        }
    }
    .inside-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .fonttextsize{
            font-size: 13px;
            font-weight: bold;
            color: #fff;
        }
        padding-right: 5px;
    }
}