/* .Icons{

} */
/* Solid border */
hr.solid {
    border-top: 1px solid #bbb;
    opacity: 0.3;
    width: 94%;
}
.footer{
    background-color: #1d1c1c;
    color: white;
}
td{
    padding: 10px;
}
.tablecontent{
    /* text-align: -webkit-left; */
    padding-top: 12px;
    padding-bottom: 12px;
}
.discription{
    padding: 15px;
    padding-bottom: 40px;
    font-size: 10px;
}
a:hover{
    color: #244285;
}
.links{
    padding: 15px;
}