.header{
    margin-top: 0;
    display: flex;
    background-color: #1d1c1c;
    justify-content: space-between;
    height: 80px;
}
.logo{
    width: 50px;
    height: 50px;
    padding: 5px;
}
.LeftHeader{
    padding: 10px;
    color:white;
    display: flex;
}
.headerText{
    padding-left: 15px;
    padding-right: 15px;
    font: normal;
    font-size: larger;
}

.RightHeader{
    padding-left: 15px;
    padding-right: 15px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}
button{
    background-color: #1d1c1c;
    color: white;
    box-shadow: none;
    border: none;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font: normal;
    font-size: larger;
}
button:hover{
    background-color: #193764;
}
a{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
line{
    height: 50px;
    width: 50px;
    background-color: #555;
    border: solid  10px white ;
}
.vl{
    margin-top: 10px;
    padding-top: 25px;
    border-left: 1px solid white;
    height: 10px;
}