.Game-card{
    position:relative;
    border-radius: 8px;
    width: 5px;
    height: 20px;
    background-color: rgb(24, 24, 24);
    animation: mymove 5s infinite;
    display: flex;
    flex-direction: row ;
    transition: 0.1s;
    cursor: pointer;
    // margin-bottom: 15px;
    margin: 15px;
    position: relative;
    // transition: all 0.3s ease-in-out;
    // &:hover{
    //     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    // }

    .Game-image-card{
        // margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        // img{
        //     width: 70px;
        //     height: 70px;
        //     // margin-top: 20px;
        //     margin-left: 15px;
        //     border-radius: 8px;
        //     margin-bottom: 15px;
        // }
    }
    .Game-inside-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        .fonttextsize{
            font-size: 20px;
            font-weight: bold;
            color: #fff;
        }
    }
}
.animation-paused {
    // animation-fill-mode: forwards;
    animation-play-state: paused;
    background-color: rgb(24,24,24);
}

@keyframes mymove {
    from {
      background-color: rgb(24,24,24);
    }
    to {
        background-color: rgb(82, 82, 82);
    }
}