.stars{
    color: yellow;
}
.titleTest{
    color: white;
}
.desctiption{
    color: rgb(92, 92, 92);
}
.blueshape{
    /* background-color: ; */
    border-bottom: 10px solid rgb(112, 112, 255);
}
.testcard{
    display:  flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #131313;   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.TestomContainer{
    display:  flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
}