@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .cardimg{
        @apply w-[85%] mb-[0.5rem];
    }
    .sticky{
       @apply fixed top-0 w-[100%] z-10;
    }
    .closeanimation{
        @apply top-[-90px];
    }
    .closelogo{
        @apply opacity-0;
    }
    .bigcardimages{
        @apply w-[100%] h-[100%] p-0 rounded-2xl;
    }
    .bigslide{
        @apply w-[100%] h-[100%] ;
    }
    /* .itesm{
        @apply ;
    } */
    .iconscarda{
        @apply w-max flex px-4 vsmmobile:w-[40%] mobile:w-[35%];
    }
    .logoanimeclose{
        @apply animate-logoclose vsmmobile:fixed vsmmobile:top-0 !important;
    }
    .logoanimeopen{
        @apply animate-logoopen vsmmobile:fixed;
    }
    
}
@layer utilities{
    .ltr{
        direction: ltr;
    }
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir/Vazirmatn-FD-ExtraLight.ttf');
}